@import '../../styles/vars';

.notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.notification {
  background-color: $info-color-opac;
  cursor: pointer;
  margin-top: 5px;
  padding: 20px;

  &.error {
    background-color: $error-color-opac;
  }
}