.profile {
  display: flex;
  justify-content: center;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > * {
    width: 100%;
    margin: 10%;
  }
}