html, body {
  height: 100%;
  width: 100%;
  font-family: "Chivo-light";
  background-color: $primary-background-color;
}

* {
  font-family: "Chivo-light";
  color: $primary-text-color;
}

#app, .app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $accent-color;
  cursor: pointer;

  &.link {
    text-decoration: none;
    color: $accent-color-dark;

    &:hover {
      color: $accent-color;
    }
  }
}

.title {
  font-family: 'Moons';
}

h1, h2, h3, h4, h5 {
  font-family: "Chivo-regular";
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

input {
  padding-bottom: 15px;
  border: none;
  font-size: $font-size-highlight;
  border-bottom: solid 1px $accent-color;
  background-color: rgba(0, 0, 0, 0);
  color: $primary-color;
}

button, .button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: $accent-color;
  cursor: pointer;
  font-size: $font-size-highlight;
  transition: ease all 0.3s;
}

input {
  font-family: "Fira-regular";
}

.full-view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.view {
  padding-top: 70px;
  height: 100%;
  box-sizing: border-box;
}

.centered {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.header {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
}

.header-center {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: "Chivo-light";
  src: url("../assets/fonts/Chivo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Chivo-regular";
  src: url("../assets/fonts/Chivo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Moons";
  src: url("../assets/fonts/TT-Moons-Thin-Italic-DEMO.otf");
}
@font-face {
  font-family: "Fira-regular";
  src: url("../assets/fonts/FiraCode-Retina.ttf") format("truetype");
}
