html, body {
  height: 100%;
  width: 100%;
  font-family: "Fira-regular";
}

#app, .app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $accent-color;
}

@font-face {
  font-family: "Fira-regular";
  src: url("/assets/fonts/FiraCode-Regular.ttf") format("truetype");
}