$primary-background-color: #212121;
$primary-color: #FFEB3B;
$accent-color: #FFEB3B;
$accent-color-dark: #FDD835;
$primary-text-color: #FFFDE7;
$divider-color:#FDFDFD;

$info-color: rgb(21, 21, 21);
$info-color-opac: rgba(21, 21, 21, 0.5);

$error-color: rgb(229, 115, 115);
$error-color-opac: rgba(229, 115, 115, 0.5);

$font-size-highlight: 1.2em;


:export {
  primaryBackgroundColor: $primary-background-color;
  primaryColor: $primary-color;

  accentColor: $accent-color;
  accentColorDark: $accent-color-dark;

  primaryTextColor: $primary-text-color;

  dividerColor: $divider-color;
  
  infoColor: $info-color;
  infoColorOpac: $info-color-opac;
  errorColor: $error-color;
  errorColorOpac: $error-color-opac;

  fontSizeHighlight: $font-size-highlight;
}