.room-sidebar {
  height: 100%;

  .tabs {
    max-height: 6%;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-around;

    .tab {
      cursor: pointer;
      padding: 10px;
    }
  };
  
  .content {
    height: 93%;
  }
}