@import '~src/styles/vars';

.navbar {
  max-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  position: fixed;
  top: 0;

  z-index: 1;

  &> a {
    padding: 25px;
  }
}

.right-aligned {
  justify-content: flex-end;
}

.hidden {
  display: none;
}

a.active {
  font-weight: bold;
  border-bottom: $accent-color solid 5px;
}