@import '../../styles/vars';

.chatroom {
  display: flex;
}

.history {
  height: 40vh;
  overflow-y: scroll;

  border-top: $accent-color;
}

.messageBox {
  display: flex;
  justify-content: space-around;

  .inputField {
    width: 90vw;
  }
}

.message {
  display: flex;
  padding: 5px;

  .user {
    margin-right: 20px;
  }

  .messageContent {
    word-break: break-word;
  }
}