@import '~src/styles/vars';

.home-header {
  height: 100%;
  max-width: 100%;
  display: flex;
  // background-image: url('~assets/mic.jpg');
  background-size: cover;
  background-position: center;
}

.home-header-center {
  margin-top: 40vh;
  margin-left: 20vw;
  color: $primary-text-color;

  h1 {
    letter-spacing: 18px;
    font-size: 4rem;
  }

  .actions {
    margin-top: 10vh;
  }
}
