.create-room {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-left: 5%;
  margin-right: 5%;
}

.rooms {
  display: flex;
  flex-basis: 20%;
  flex-wrap: wrap;

  margin-left: 5%;
  margin-right: 5%;

  .room {
    height: 300px;
    width: 20%;
  }
}