.create-room {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-left: 5%;
  margin-right: 5%;
}

.rooms {
  display: flex;
  flex-basis: 20%;
  flex-wrap: wrap;

  margin-left: 5%;
  margin-right: 5%;

  .room {
    height: 300px;
    width: 20%;
  }
}

@media screen and (max-device-width: 500px) {
  .rooms {
    margin: 0;

    .room {
      width: 100% !important;
    }
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 1000px) {
  .rooms {
    .room {
      width: 25%;
    }
  }
}